.simple-loading.simple-global-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -9999px;
  padding: 20px 20px 20px 60px;
  background: #ffffff url("/assets/loading.gif") no-repeat 15px 14px;
  z-index: 9999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.simple-loading-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  background-color: #000;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.simple-loading-mask.hidden {
  opacity: 0;
}
